<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css">
    <title>9Gag Like</title>
</head>
<body>

<% include menu.html %>

<div class="container">
    <% if(typeof(error) != "undefined") { %>
    <div class="alert alert-danger">
        <p> <%= error %></p>
    </div>
    <% } %>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Titre">
        </div>
        <div class="form-group">
            <label for="author">Auteur</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Auteur">
        </div>
        <div class="form-group">
            <label for="category">Categorie</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Categorie">
        </div>
        <div class="form-group">
            <label for="picture">Image</label>
            <input type="file" name="picture" id="picture">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

</body>
</html>